.details-page {
  position: relative;
  width: 100vw;
  height: 91vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 0px 6%;
  gap: 5px;
}
.details-page .navbar {
  width: 100vw;
  border-radius: 0px;
  position: static;
}
.details-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.details-container .img {
  align-self: center;
  justify-self: center;
  width: 100%;
  height: 100%;
}
.details-container .img img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 20px;
}
.details-container .meta-data {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  font-family: var(--font-two);
}
.details-container h1 {
  width: 100%;
  min-height: 20px;
  text-transform: uppercase;
  font-family: var(--font-one);
  color: var(--text-one);
  font-size: clamp(1rem, 2vw, 3rem);
}
.details-container h3 {
  font-family: var(--font-two);
  color: var(--text-two);
}
.details-container .ratting-stars {
  width: 100%;
  display: flex;
  gap: 5px;
  font-size: 1.2rem;
  font-family: var(--font-two);
}
.details-container .product-color {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 3px solid var(--text-two);
  padding: 10px;
  gap: 10px;
}
.details-container .avilable-stock,
.current-price {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid var(--text-two);
  padding: 10px;
  gap: 10px;
}
.buttons {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.buttons .details-cart {
  width: 50%;
  height: 90%;
  border-radius: 20px;
  border: 1px solid var(--text-two);
  font-size: 1.2rem;
}
.buttons .details-buy {
  width: 50%;
  height: 90%;
  border-radius: 20px;
  border: 1px solid var(--text-two);
  font-size: 1.2rem;
  background-color: var(--btn);
  display: flex;
  align-items: center;
  justify-content: center;
}
.details-description {
  padding: 10px;
  width: 100%;
  height: 180px;
}
.details-description h1 {
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: start;
}
.details-description p {
  width: 100%;
  height: 80%;
  overflow: scroll;
}
.details-description p::-webkit-scrollbar {
  display: none;
}
@media screen and (max-width: 700px) {
  .details-page {
    height: auto;
  }
  .details-container {
    flex-direction: column;
  }
}
