.not-found-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--bg);
}
.not-found-container img {
  width: clamp(200px, 50vw, 400px);
}
.not-found-container h3 {
  color: gray;
  font-size: 2rem;
  text-align: center;
}
.not-found-container p {
  text-align: center;
  color: gray;
  font-size: 1.3rem;
}
