.order-address {
  width: 100%;
  height: 30px;
  /* position: absolute;
  top: 0px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  font-size: 0.8rem;
}
