.order-product {
  width: 100%;
  height: 100px;
}
.order-product {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 1fr;
  overflow: hidden;
  padding: 10px;
}

.order-product-details {
  align-self: center;
  justify-self: start;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
