.intro-card {
  width: 100vw;
  height: clamp(300px, 80vw, 500px);
  background: url("/intro_card1.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.intro-card h1 {
  text-transform: uppercase;
  font-family: var(--font-one);
  width: 60%;
  border: 1px solid;
  font-size: clamp(1.7rem, 5vw, 5rem);
  text-align: center;
  color: var(--bg);
}
