.login-container {
  width: 100vw;
  height: 100vh;
  background: var(--bg);
  color: var(--text-one);
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-container form {
  width: clamp(250px, 40vw, 350px);
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: relative;
  overflow: hidden;
}
.input {
  position: relative;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input input {
  width: 100%;
  height: 80%;
  background: var(--text-two);
  backdrop-filter: blur(8px);
  border: none;
  border-radius: 20px;
  outline: none;
  color: var(--text-one);
  padding: 10px 60px;
  font-size: 1.05rem;
}

.input label {
  position: absolute;
  width: 50px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--text-one);
  color: var(--bg);
  border-radius: 50%;
  z-index: 2;
}
.username label {
  left: 0px;
  top: 0px;
}
.password label {
  right: 0px;
  top: 0px;
}
input::placeholder {
  color: black;
}
.sub-btn {
  width: 100%;
  height: 55px;
  border-radius: 30px;
  margin-top: 20px;
  color: var(--bg);
  font-weight: 1000;
  font-size: 1.3rem;
  background: var(--btn);
  border: 1px solid var(--shadow);
}
.login-home-btn {
  color: var(--text-one);
  position: absolute;
  z-index: 2;
  top: 0px;
  left: 0px;
  font-size: 2rem;
}
.login-container form h1 {
  font-family: var(--font-one);
}
.sub-btn:hover {
  background: gray;
}
