.message {
  position: fixed;
  top: 60px;
  right: 50px;
  background: var(--btn);
  box-shadow: 0px 0px 10px var(--shadow);
  z-index: 100;
  width: 250px;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding: 10px;
  font-size: 1.1rem;
  font-family: var(--text-two);
  color: var(--text-one);
}
.hide {
  display: none;
}
@media screen and (max-width: 400px) {
  .message {
    right: none;
  }
}
