.navbar {
  width: 85%;
  height: 70px;
  border-radius: 0px 0px 20px 20px;
  background: var(--bg);
  color: var(--text-one);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  position: absolute;
  top: 0px;
  z-index: 10;
}
.navbar h1 {
  font-family: var(--font-one);
  font-size: clamp(1rem, 5vw, 1.7rem);
  text-align: center;
}
.navbar .category {
  min-width: 40%;
  height: 40px;
  border: 1px solid;
  overflow-x: scroll;
  display: none;
}
.category::-webkit-scrollbar {
  display: none;
}
.navbar .icons {
  width: 100px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}
.navbar .icons .profile {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 20px;
  font-size: clamp(1.5rem, 5vw, 1.7rem);
}
.profile-pic {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu {
  font-size: 1.5rem;
  display: none;
}
.login-btn {
  font-size: 1rem;
  width: 80px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background-color: var(--btn);
  box-shadow: 0px 0px 10px var(--shadow);
  font-family: var(--font-two);
}
@media screen and (max-width: 500px) {
  .navbar h1 {
    display: none;
  }
  .menu {
    display: block;
  }
}
