.navbar {
  width: 85%;
  height: 50px;
  border-radius: 0px 0px 20px 20px;
  background: var(--bg);
  color: var(--text-one);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  position: fixed;
  top: 0px;
  z-index: 10;
  anchor-name: --nav;
}
.side {
  display: none;
}
.navbar h1 {
  font-family: var(--font-one);
  font-size: clamp(1rem, 5vw, 1.7rem);
  text-align: center;
}

.navbar .category {
  min-width: 40%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  border: none;
  background: none;
}
.navbar .category .category-item {
  font-family: var(--font-one);
  font-size: 0.9rem;
  cursor: pointer;
}
.category-item:hover {
  font-weight: bold;
}
.category::-webkit-scrollbar {
  display: none;
}
.navbar .icons {
  width: 100px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}
.navbar .icons .profile {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 20px;
  font-size: clamp(1.5rem, 5vw, 1.7rem);
}
.profile-pic {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu {
  font-size: 1.5rem;
  display: none;
}

.login-btn {
  font-size: 1rem;
  width: 80px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background-color: var(--btn);
  box-shadow: 0px 0px 10px var(--shadow);
  font-family: var(--font-two);
}
.navbar .profile .icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-button {
  anchor-name: --profile;
}
.popup-profle {
  position: fixed;
  position-anchor: --profile;
  top: anchor(bottom);
  right: anchor(right);
  left: auto;
  min-width: 200px;
  min-height: 100px;
  background-color: var(--bg);
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 10px;
  border: 0px solid;
  flex-direction: column;
  align-items: center;
  justify-content: starts;
  padding: 10px;
  gap: 10px;
}
.popup-profle .profile-list {
  border-radius: 10px;
  font-size: 1.2rem;
  width: 100%;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: start;
  position: relative;
}
.profile-list:hover {
  background: rgba(128, 128, 128, 0.2);
}
.profile-list span {
  position: absolute;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup-profle:popover-open {
  display: flex;
}
.profile-content {
  width: 100%;
  height: auto;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  background-color: var(--text-two);
}
.profile-content img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.profile-loading {
  width: 100%;
  height: 50px;
  background-color: rgba(128, 128, 128, 0.486);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-loading::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 300%;
  left: 0%;
  top: -50px;
  box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.4);
  transform: rotate(40deg);
  background: rgba(255, 255, 255, 0.255);
  animation: 2s load linear infinite;
}

.profile-names {
  font-size: 1rem;
  min-width: 60%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.cate-btn {
  anchor-name: --cate;
}
.categoriess {
  width: 150px;
  min-height: 100px;
  position-anchor: --cate;
  position: fixed;
  inset: auto;
  margin: 0;
  top: anchor(bottom);
  right: anchor(right);
  margin-top: 20px;
  margin-right: 20px;
  z-index: 100;
  background: var(--bg);
  border: none;
  padding: 10px;
  box-shadow: 0px 0px 10px gray;
  justify-content: start;
  align-items: center;
  border-radius: 10px;
  flex-direction: column;
  gap: 10px;
}
.categoriess p,
.categoriess a {
  width: 100%;
  padding: 5px 10px;
  text-align: center;
  /* border-bottom: 3px solid var(--text-two); */
  text-transform: capitalize;
  cursor: pointer;
}
.categoriess:popover-open {
  display: flex;
}
@keyframes load {
  0% {
    left: -40%;
  }
  100% {
    left: 130%;
  }
}
@media screen and (max-width: 900px) {
  .navbar {
    width: 100%;
    border-radius: 0px;
  }
  .navbar h1 {
    display: none;
  }
  .menu {
    display: block;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar .category {
    display: none;
  }
  .side {
    min-width: clamp(150px, 30%, 30%);
    min-height: 100vh;
    position-anchor: --nav;
    position: fixed;
    top: anchor(bottom);
    left: anchor(left);
    background: var(--glass-effect);
    backdrop-filter: blur(8px);
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 10px;
    margin: 0;
    inset: auto;
    border: none;
  }
  .side-item {
    width: 100%;
    padding: 10px 15px;
    border-bottom: 3px solid var(--text-two);
  }
  .side:popover-open {
    display: flex;
  }
}
