.Profile-container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 0px 6%;
}
.headder {
  width: 100vw;
  height: 100px;
  background: var(--btn);
  display: flex;
  align-items: center;
  justify-content: center;
}
.Profile-container .headder h1 {
  font-family: var(--font-one);
  text-transform: uppercase;
}

.profile-wrapper {
  width: 100%;
  min-height: 80vh;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

