.recomendations-container {
  width: 100%;
  min-height: 200px;
  font-family: var(--font-two);
  padding: 20px 6%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.recomendations-container h1 {
  font-family: var(--font-one);
}
.recomended-items-container {
  min-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto, auto);
  grid-template-rows: 1fr;
  grid-auto-flow: column;
  gap: 15px;
  overflow-x: scroll;
}
.recomended-items-container::-webkit-scrollbar {
  display: none;
}
